
body{
  background-color: #E7E6E2;
  margin:0;
  padding:0;
}

/* HEADER STYLES */

.hero-fixed{
  position: fixed;
  max-width: 100%;
  height: 100%;
  filter: brightness(50%);
  z-index:-1
}

.header{
  height: 50px;
  background: transparent;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.header-right{
  float:right;
  align-content: center;
  justify-content: center;
  color:#E7E6E2;
  margin-top:10px;
  z-index:10;
}
.header-links{
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  margin: 15px;
  width:auto;
  text-align: center;
  align-content: center;
  top:50%;
  justify-content: center;
  color:#E7E6E2;
  z-index:10;
}
.header-left{
  margin-left:10px;
  font-family: 'Open Sans', sans-serif;
  float:left;
  align-content: center;
  justify-content: center;
  color:#E7E6E2;
  margin-top:10px;
  cursor:pointer;
  font-size:20px;
}


/* LANDING STYLES */
.whole-landing{
  position:relative;
  height:650px;
  text-align: center;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top:100px;
  z-index: 10;
}
.landing-text-header{
  font-family: 'Open Sans', sans-serif;
  color:#E7E6E2;
  font-size:75px;
  text-align:center;
  z-index: 10;
}
.landing-text-sub{
  font-family: 'Open Sans', sans-serif;
  color:#E7E6E2;
  font-size:35px;
  text-align:center;
  z-index: 10;
}


/* CONTACT FORM STYLES */
.form-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.contact-form{
  border: 2px solid #E7E6E2;
  border-radius: 10px;
  padding: 50px;
  width: 500px;
  height: 600px;
  color:#E7E6E2;
}
.form-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  color:#E7E6E2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-subtitle{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color:#E7E6E2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.form-labels{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color:#E7E6E2;
}
.form-labels-footer{
  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
  color:#E7E6E2;
  margin-bottom: 5px;
}
.form-inputs{
  background: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color:#E7E6E2;
  border: 1px solid #E7E6E2;
  border-radius: 5px;
  width: 500px;
  margin-bottom: 3px;
}
.submit-button{
 padding:0.35em 1.2em;
 border:0.1em solid #E7E6E2;
 border-radius:0.12em;
 box-sizing: border-box;
 font-family: 'Open Sans', sans-serif;
 font-weight:300;
 text-align:center;
 transition: all 0.2s;
 background: transparent;
 cursor: pointer;
 color:#E7E6E2;
 margin-top:5px;
 display: flex;
 margin-left:auto;
 margin-right:auto;
 width:250px;
 justify-content: center;
 font-size:15px;
 height:auto;
}
.submit-button:hover{
  color:#E7E6E2;
 letter-spacing: .07em;
}
.error{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color:#E7E6E2;
}
.form:hover{
  letter-spacing: .07em;
  transition: all .7s ease;
}

/* ABOUT STYLES */
.about{
  position:static;
  color:#E7E6E2;
  margin-top:50px;
  margin-bottom:100px;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:20% 80%;
  height:600px;
  background:transparent;
  margin-top: 400px;
  z-index: 10;
}
.about-header{
  color:#E7E6E2;
  font-size:75px;
  font-family:'Open Sans', sans-serif;
  grid-column-start: 2;
  grid-column-start: 2;
  grid-row-start:1;
  grid-row-end:1;
  z-index: 10;
}
.about-subtext{
  color:#E7E6E2;
  font-size:25px;
  font-family:'Open Sans', sans-serif;
  grid-column-start: 2;
  grid-column-start: 2;
  grid-row-start:2;
  grid-row-end:2;
  z-index: 10;
}
.about-me-pic-both{
  margin-left:50px;
  height:500px;
  width:500px;
  border-radius:250px;
  grid-column-start: 1;
  grid-column-start: 1;
  z-index: 10;
}

/* Menu Styles */
.whole-menu-title{
  color:#E7E6E2;
  font-size:100px;
  font-family:'Open Sans', sans-serif;
  display:flex;
  justify-content: center;
  align-content: center;
}
.menu-container{
display:flex;
width: 100%;
height:475px;
margin-top: 75px;
flex-direction: row;
margin-left:25px;
align-content: center;
justify-content: center;
}
.menu-list1{

  flex-direction:column;
  order: 1;
  width:200px;
}
.menu-list2{

  flex-direction:column;
  order:2;
  width:200px;
}
.menu-list3{

  flex-direction:column;
  order:3;
  width:200px;
}
.menu-list4{

  flex-direction:column;
  order:4;
  width:200px;
}
.menu-title{
  color:#E7E6E2;
  font-size:50px;
  font-family:'Open Sans', sans-serif;
  text-decoration: underline;
}
.menu-sub{
  color:#E7E6E2;
  font-size:35px;
  font-family:'Open Sans', sans-serif;
}

/*Flow Continue Styles*/

.see-more{
  font-family: 'Open Sans', sans-serif;
  color:#E7E6E2;
  font-size:35px;
  z-index: 10;
  cursor:pointer;
  display:flex;
  align-content: center;
  justify-content: center;
}
.see-more:hover{
letter-spacing:1px;;
}
.see-menu{
  display:flex;
  justify-content: center;
  align-content: center;
  color:#E7E6E2;
  font-size:35px;
  font-family:'Open Sans', sans-serif;
  margin-bottom:100px;
  cursor:pointer;
}
.see-menu:hover{
  letter-spacing: 1px;
}
.get-in-touch{
  display:flex;
  justify-content: center;
  align-content: center;
  color:#E7E6E2;
  font-size:35px;
  font-family:'Open Sans', sans-serif;
  margin-bottom:200px;
  cursor:pointer;
}
.get-in-touch:hover{
  letter-spacing: 1px;
}

/* footer styles*/
.footer {
  margin-top:100px;
  height:75px;
  width: 100%;
  color: #E7E6E2;
  border-top: 1px solid #E7E6E2;;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.footer-text{
  display:flex;
  justify-content: center;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size:30px;
}