
body{
  background:url("/dist/images/asfalt--dark--1920x1080.png");
  margin:0;
  padding:0;
  height:100%;
}

/* HEADER STYLES */

.hero-fixed{
  position: fixed;
  max-width: 100%;
  height: 100%;
  filter: brightness(50%);
  z-index:-1
}

.header{
  background: transparent;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding:10px;
}
.header.active{
  background: #2F313C;
}
.header-right{
  float:right;
  align-content: center;
  justify-content: center;
  color:#E7E6E2;
  margin-top:10px;
  z-index:10;
  padding-right:10px;
}

.header-links{
  font-family: 'Hind', sans-serif;
  cursor: pointer;
  margin: 15px;
  width:auto;
  text-align: center;
  align-content: center;
  top:50%;
  justify-content: center;
  color:#E7E6E2;
  z-index:10;
  font-weight:600;
  font-size:2vmin;
}
.header-links:hover{
  text-decoration: underline;
}
.header-left{
  margin-left:10px;
  font-family: 'Hind', sans-serif;
  float:left;
  align-content: center;
  justify-content: center;
  color:#E7E6E2;
  cursor:pointer;
  font-size:3vmin;
  font-weight:600;
  z-index:1000;
}
.header-left:hover{
  text-decoration:underline;
}


/* LANDING STYLES */
.whole-landing{
  position:relative;
  height:100vh;
  text-align: center;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top:100px;
  z-index: 10;
}
.landing-text-header{
  font-family: 'Hind', sans-serif;
  color:#E7E6E2;
  font-size:7vmin;
  text-align:center;
  z-index: 10;
  font-weight:500;
}
.landing-text-sub{
  font-family: 'Hind', sans-serif;
  color:#E7E6E2;
  font-size:3vmin;
  text-align:center;
  z-index: 10;
}


/* CONTACT FORM STYLES */
.form-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background:url("/dist/images/asfalt--dark--1920x1080.png");
}
.contact-form{
  border: 2px solid #E7E6E2;
  border-radius: 10px;
  padding: 50px;
  width: 500px;
  height: 600px;
  color:#E7E6E2;
  background-color: #2F313C;
}
.form-title{
  font-family: 'Hind', sans-serif;
  font-size: 50px;
  color:#E7E6E2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-subtitle{
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  color:#E7E6E2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.form-labels{
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  color:#E7E6E2;
}
.form-labels-footer{
  font-family: 'Hind', sans-serif;
  font-size: 8px;
  color:#E7E6E2;
  margin-bottom: 5px;
}
.form-inputs{
  background: transparent;
  font-family: 'Hind', sans-serif;
  font-size: 12px;
  color:#E7E6E2;
  border: 1px solid #E7E6E2;
  border-radius: 5px;
  width: 500px;
  margin-bottom: 3px;
}
.submit-button{
 padding:0.35em 1.2em;
 border:0.1em solid #E7E6E2;
 border-radius:0.12em;
 box-sizing: border-box;
 font-family: 'Hind', sans-serif;
 font-weight:300;
 text-align:center;
 transition: all 0.2s;
 background: transparent;
 cursor: pointer;
 color:#E7E6E2;
 margin-top:5px;
 display: flex;
 margin-left:auto;
 margin-right:auto;
 width:250px;
 justify-content: center;
 font-size:15px;
 height:auto;
}
.submit-button:hover{
  color:#E7E6E2;
 letter-spacing: .07em;
}
.error{
  font-family: 'Hind', sans-serif;
  font-size: 15px;
  color:#E7E6E2;
}
.form:hover{
  letter-spacing: .07em;
  transition: all .7s ease;
}

/* ABOUT STYLES */
.background{
  max-width: 100vw;
  height: 100vh;
  z-index:-1
}
.about{
  position:static;
  padding-top:100px;
  display:grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows:10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  height:100vh;
  background:url("/dist/images/asfalt--dark--1920x1080.png");
  z-index: 10;
}
.about-header{
  color:#C4804B;
  font-size:9vmin;
  font-family:'Hind', sans-serif;
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start:1;
  grid-row-end:1;
  z-index: 10;
  font-weight:800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-header-sub{
  color:#AB3E42;
  font-size:15vmin;
  font-family:'Hind', sans-serif;
  z-index: 10;
  font-weight:500;
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start:2;
  grid-row-end:3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:5px;
  z-index:1000;
}
.about-subtext{
  padding:2px;
  color:#E7E6E2;
  font-size:3vmin;
  font-family:'Hind', sans-serif;
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start:3;
  grid-row-end:9;
  z-index: 10;
  line-height: 1.5;
  border:2px solid #AB2E42;
  padding-top:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  background:#2F313C;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-me-pic-both{
  margin-left:50px;
  height:auto;
  width:70%;
  border-radius:250px;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 6;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Menu Styles */
.menu-wrapper{
  position:static;
  padding-top:100px;
  display:grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows:10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  height:100vh;
  background:url("/dist/images/asfalt--dark--1920x1080.png");
  z-index: 10;
}
.menu-header{
  font-family: 'Hind', sans-serif;
  color:#AB3E42;
  font-size:10vmin;
  grid-row-start:1;
  grid-row-end:2;
  grid-column-start: 4;
  grid-column-end: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu-list-header{
  font-family: 'Hind', sans-serif;
  font-size:5vmin;
  text-decoration: underline;
  color:#2F3136
}
.menu-list-item{
  font-family: 'Hind', sans-serif;
  font-size:3vmin;
  color:#2F3136;
}

.meats{
  grid-row-start:2;
  grid-row-end:4;
  grid-column-start: 2;
  grid-column-end: 4;
}
.sides{
  grid-row-start:2;
  grid-row-end:4;
  grid-column-start: 4;
  grid-column-end: 6;
}
/*Flow Continue Styles*/

.see-more {
  font-family: 'Hind', sans-serif;
  color: #E7E6E2;
  font-size: 5vmin;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.see-more:hover{
text-decoration: underline;
}

/* footer styles*/
.footer {
  background:url("/dist/images/asfalt--dark--1920x1080.png");
  margin-top:100px;
  height:75px;
  width: 100%;
  color: #2f3136;
  border-top: 1px solid #2f3136;
  text-align: center;
  font-family: 'Hind', sans-serif;
}
.footer-text{
  display:flex;
  justify-content: center;
  align-content: center;
  font-family: 'Hind', sans-serif;
  font-size:30px;
}